- SHOW HOW: switch to .md file formating

# PROJECT OVERVIEW



# PERSONALITY


# TECH STACK
- Backend: Node.js
- Frontend: typescript, react, tailwind, ShadCN, Vite.js
- Database: SQLite3


# ERROR FIXING PROCESS


# BUILDING PROCESS


# Our .env variables


# CURRENT FILE STRUCTURE


# GITHUB PUSH PROCESS


# IMPORTANT



